NODE_ENV=test

PORT=8081
SELF_URL="http://127.0.0.1:8080/"
API_URL="http://127.0.0.1:8081/"

DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/dinorpg_test?schema=public"

DINORPG_SECRET_KEY_JWT="test_jwt_secret_for_integration_tests"
DINORPG_SECRET_KEY_COOKIE="test_cookie_secret_for_integration_tests"

SALT="test_salt"

DEVICE_COOKIE="dz_device"
DEVICE_TOKEN_SECRET="test_device_token_secret_for_integration"
IP_TOKEN_SECRET="test_ip_token_secret_for_integration"

MAX_ACCOUNTS_PER_DEVICE_PER_MONTH=100
MAX_ACCOUNTS_PER_IP_PER_MONTH=100
SIGNUP_COUNTER_GRACE_DAYS=1

DISCORD_LOG_WEBHOOK_URL=""