ul {
	display: block;
	list-style: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	&.tabs {
		list-style: none;
		height: 18px;
		padding-left: 10px;
		margin-top: -9px;
		margin-bottom: 5px;
		margin-left: -5px;
		margin-right: -5px;
		background-color: #9a4029;
		background-image: radial-gradient(ellipse 50% 50% at center bottom, #af6d44 0%, transparent 100%);
		background-repeat: no-repeat;
		border-bottom: 1px solid #ffe7aa;
		li {
			float: left;
			position: relative;
			margin-right: 5px;
			a {
				color: #fce3bc;
				text-decoration: none;
				padding-left: 5px;
				padding-right: 5px;
				background-color: #bc683c;
				border-right: 1px solid black;
				border-left: 1px solid #d39a65;
				border-top: 1px solid #d39a65;
				font-size: 10pt;
				border-radius: 0px;
			}
		}
	}
}
