@use './normalize.css';

input,
a {
	&.button {
		display: block;
		width: 145px;
		height: 28px;
		margin-top: 3px;
		margin-bottom: 2px;
		padding-top: 5.5px;
		font-variant: small-caps;
		font-size: 10.5pt;
		color: #fff1ad;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		background-image: url('../assets/button/button.webp');
		background-repeat: no-repeat;
		border-radius: 0px;
	}
	&.button:hover {
		background-image: url('../assets/button/button_hover.webp');
	}
	&.bSmall {
		width: 95px;
		padding-top: 5px;
		background-image: url('../assets/button/button_small.webp');
	}
	&.bSmall:hover {
		background-image: url('../assets/button/button_small_hover.webp');
	}
}
